body {
    text-align: center;
}

.card {
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 5px;
    border-radius: 5px;
    font-size: 30px;
    left: 10%;
    line-height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    width: 30%;
}

.card:hover {
    border-color: gray;
}

.tumbnail {
    width: 200px;
    height: 300px;
}

.link-group {
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
}